
@import "-/css/general.css";

#created_text {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #555;
}

#link_public_key {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #555;
}
